*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#facilities{
    background-color: #dbe5e6;
    padding: 0px 0px;
}
#facilities h1{
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 0px;
}
.title{
    text-align: center;
    padding: 10px 0px;
}
.card-body{
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
}
#budget{
    background-color: #dbe5e6;
    width: 100%;
    height: 50px;
}
#budget  h4{
    float: right;
    font-family: sans-serif;
    font-weight: 300;
    padding-top: 20px;
}